.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3%;
  gap: 1.5rem;
  margin-bottom: 3%;
}
.profile-button {
  background-color: #feeaa1;
  border-radius: 20px;
  border: 5px solid black;
  padding: 8px 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px #000000;
}
.profile-section > input::placeholder {
  color: white;
}
.profile-input {
  text-align: center;
  border-radius: 30px;
  color: #feeaa1;
  background-color: #18534f;
  border: 10px solid #ecf8f6;
  padding: 7%;
  box-shadow: 0px 0px 30px #000000;
}
.profile-password {
  text-align: center;
  border-radius: 30px;
  color: #feeaa1;
  background-color: #18534f;
  border: 10px solid #ecf8f6;
  padding: 4%;
  box-shadow: 0px 0px 30px #000000;
}
